.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

#generate-tweet-button {
    margin-top: 2em;
    width: 15em;
    color: blue;
    border-radius: 3em;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

li {
    padding-bottom: 1em;
}